{% extends "base.html" %}

{% block content %}
    <a href="/" class="btn btn-primary" role="button">Return Home</a>
    <br><br>

    <H1>OOPS</H1>

{% endblock content %}

{% include 'footer.html' %}
