{% include "base.html" %}

        <div class="panel-group" id="accordion" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  AWS Inventory
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
              <form action="/inv" method="get">
                <div class="btn-group" data-toggle="buttons">
                  {% for a in regions %}
                    <label class="btn btn-default">
                      <input type="radio" id="{{ a }}" name="Region" value="{{ a }}" />{{ a }}
                    </label>
                  {% endfor %}
                </div>
                <br><br>
                <div class="btn-group" data-toggle="buttons">
                  {% for c in vpcs[0] %}
                  {% set b=vpcs[0][c].split(',') %}
                  {% for a in b %}
                    <label class="btn btn-default">
                      <input type="radio" id="{{ a }}" name="Vpc" value="{{ a }}">{{ a }}
                    </label>
                  {% endfor %}
                  {% endfor %}
                </div>
                <br><br>
                {% for a in things %}
                <button "type="submit" class="btn btn-default" name="AWS" value="{{ a }}">
                  {{ a }}
                </button>
                {% endfor %}
              </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Build files
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <form action="/gen" method="get">
                <div class="btn-group" data-toggle="buttons">
                  {% for c in vpcs[0] %}
                  {% set b=vpcs[0][c].split(',') %}
                  {% for a in b %}
                    <label class="btn btn-default">
                      <input type="radio" id="{{ a }}" name="Vpc" value="{{ a }}">{{ a }}
                    </label>
                  {% endfor %}
                  {% endfor %}
                </div>
                <br><br>
                <H5><p>
                  <a href=https://mojo.redhat.com/docs/DOC-13812 data-toggle="tooltip" data-placement="top" title="Click here for more information regarding AWS tagging">
                  Tags:
                  </a></p>
                  <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter ServiveName & ServicePhase tags seperated by comma ie. CMS,Dev">
                  <br>
                  {% for a in things %}
                  <button "type="submit" class="btn btn-default" name="AWS" value="{{ a }}">
                  {{ a }}
                  </button>
                  {% endfor %}
                </H5>
              </form>
              </div>
            </div>
          </div>
        </div>

{% include 'footer.html' %}