{% include "base.html" %}

    <a href="/" class="btn btn-primary" role="button">Return Home</a>
    <br><br>
    <div class="well well-sm">
            <p>AWS {{ data['AWS'] }} processed...</p>
    </div>

{% include 'footer.html' %}