{% extends "base.html" %}

{% block content %}
    <a href="/" class="btn btn-primary" role="button">Return Home</a>
    <br><br>

    <div class="well well-small">
        <p class="lead"><pre>
"AWSTemplateFormatVersion":"2010-09-09",
    "Description":"Utility Shared stack",
    "Parameters":{
        "CreateDhcpOptionsParameter":{
            "Description":"Conditionally create Dhcp Options.",
            "Type":"String",
            "Default":"True",
            "AllowedValues":[
                "False",
                "True"
            ]
        },
        "ArrayValue":{
            "Description":"",
            "Type":"CommaDelimitedList",
            "Default":""
        },
        {{ json }}</p></pre>
    </div>
{% endblock content %}
