{% extends "base.html" %}

{% block content %}
    <a href="/" class="btn btn-primary" role="button">Return Home</a>
    <br><br>
    <div class="well well-sm">
        <p>YAML</p>
    </div>
{% endblock content %}
